@import url('variables.css');


html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco-100);
    color: var(--negro-500);
}


.container {
    max-width: 1400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 0 1.5rem;
    background-color: var(--blanco-50);
    box-shadow: 0 0 12px var(--sombra-700);
}

/* Header */
.header {
    background-color: var(--rojo-400);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo a {
    font-size: 2.8rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--negro-900);
}

.nav {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.nav a {
    color: var(--blanco-50);
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

.nav a:last-child {
    background: white;
    color: var(--negro-500);
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
}

/* Título con línea larga */
.cabecera-carrito {
    width: 95%;
    padding: 1rem 0;
    border-bottom: 2px solid var(--negro-900);
    align-self: center;
}

.cabecera-carrito h2 {
    font-size: 2.2rem;
    /* 20px */
    font-weight: 500;
}

.cantidad {
    font-weight: bolder;
}

/* Layout */
.contenido {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 3.5rem;
}

.sin-productos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 1rem;
    display: flex;
}

.sin-productos h1,
.sin-productos p {
    align-self: center;
    font-size: 2.6rem;
}

.redireccion {
    color: var(--azul-500);
    font-weight: bolder;
    text-decoration: none;
}

.productos {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 2rem;
    display: none;
}

/* Tarjeta de Producto */
.producto-item {
    max-width: 525px;
    height: auto;
    display: flex;
    background: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: var(--sombra-200);
}

.img-placeholder {
    display: block;
    width: 35%;
    height: auto;
    background-color: var(--blanco-400);
    background-image: url('../images/fcf658f0027e263090fa7c9e2f4c5035.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 1.5rem;

}

.info h3 {
    font-size: 2.2rem;
    font-weight: bolder;
    margin-bottom: .5rem;
}

.info p {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--negro-900);
}

/* Resumen de Pago */
.resumen {
    max-width: 450px;
    flex-grow: 1;
    padding: 0 1.5rem;
}

.resumen-box {
    background: white;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: var(--sombra-300);
    text-align: center;
}

.acciones {
    display: flex;
    gap: 1.5rem;
    font-size: 1.6rem;
    font-weight: bolder;
    margin-top: 1.5rem;
}

.acciones a {
    text-decoration: none;
    color: var(--azul-700);
}

.icono-placeholder {
    width: 6rem;
    height: 6rem;
    margin: 0 auto 2rem;
    background-image: url('../images/cash-or-credit-cash-credit-loan-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.totales {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-top: 1px solid var(--blanco-500);
    border-bottom: 1px solid var(--blanco-500);
    padding: 1.5rem 0;
}

.totales p {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 520;
}

.btn {
    display: inline-block;
    background-color: var(--azul-500);
    color: white;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.6rem;
    text-decoration: none;
    margin: 2rem 0;
}

.btn-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.btn-active {
    pointer-events: all;
    cursor: pointer;
    opacity: none;
}

.otros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--blanco-500);

}

.otros>p {
    font-size: 1.6rem;
    font-weight: 550;
    margin-top: 1rem;
}

/* Botones Apple/Google */
.metodos {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    border-top: 1px solid var(--blanco-500);
    padding-top: 1.5rem;

}

/* Contenedor de los logos de pago */
.btn-apple,
.btn-google, .btn-paypal {
    display: inline;
    width: 1rem;
    padding: 3rem 3rem;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;

    /* PROPIEDADES CLAVE PARA QUE SE VEA LA IMAGEN */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Esto ajusta el logo dentro del cuadro */
    display: inline-block;
    /* Asegura que respete el tamaño */
}

.btn-apple {
    /* Revisa que el nombre del archivo sea EXACTAMENTE igual */
    background-image: url('../images/apple-pay-svgrepo-com.svg');
}

.btn-google {
    background-image: url('../images/google-pay-svgrepo-com.svg');
}

.btn-paypal{
    background-image: url(../images/paypal-svgrepo-com.svg);
}

.menu-toggle {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
}

/* Responsive */

@media (max-width: 1024px) {
    :root {
        font-size: 56.25%;
    }
}

/* Responsive - Ajustes para Tablets y Móviles */
@media (max-width: 870px) {
    :root {
        font-size: 50%;
    }

    .sin-productos {
        padding: 1.2rem 0;
        border-top: 1px solid var(--blanco-500);

    }
}

@media (max-width: 750px) {

    .contenido {
        flex-direction: column;
    }

    .sin-productos,
    .productos,
    .resumen {
        margin: 0 auto;
        width: 70%;

    }

    .resumen {
        order: -1;
    }

}


@media (max-width: 520px) {

    body {
        align-items: flex-start;
    }


    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .menu-toggle {
        display: block;
    }

    /* NAV OCULTO */
    .nav {
        position: absolute;
        top: 55px;
        right: 0;
        background: var(--rojo-400);
        width: 120px;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 5%;
        padding: 1.5rem;
        gap: 1.5rem;
        display: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 0 10px;
    }

    .nav.active {
        display: flex;
    }

    .nav a {
        width: 100%;
    }

    .nav a:last-child {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 425px) {

    .sin-productos,
    .productos,
    .resumen {
        width: 90%;

    }
}