@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('./variables.css');  


/* Centrado total de la tarjeta 📦 */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fdfdfd;
    font-family: 'Nunito', sans-serif;
}

/* El contenedor principal  📦 */
.container {
    background-color: #f26d64;
    /* El rojo de tu imagen */
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

/* Título 🎯 */
.tituloPrincipal {
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

/* Labels (Usuario, Correo, etc.) 🥸*/
.nombreInput {
    display: flex;
    text-align: left;
    font-size: 1.1rem;
    
}

/* Estilo de los Inputs  👌*/
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 25px;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    color: var(--blanco-50);
    font-size: 1rem;
    box-sizing: border-box;
    /* Evita que el input se pase del borde */
    outline: none;
}

/* Estilo específico para el botón 🛎️ */
#btnEnviar {
    width: 100%;
    padding: 15px;
    
    color: #501b1b;
    /* Texto oscuro */
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;
}

#btnEnviar:hover {
    background-color: #f0f0f0;
}

/* Enlace inferior 👇*/
.redireccion {
    display: block;
    margin-top: 25px;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}
input::placeholder {
    color: #ffffffcc;
}